#main_dic {
  // margin: 1em;
  // border: 1px solid;
  // background-color: #393939;
  // border-radius: 10px;

  position: relative;

  #pj_title {
    position: absolute;
    top: 0;
    left: 1;
    padding: 1em;
    font-size: 20px;
    color: #808080f0;
    width: 600px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .video_wrap {
    position: relative;
  }

  .box-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .subtitle_wrap {
    width: 100%;
    position: absolute;
    padding: 2px;
  }

  .subtitle_box {
    position: relative;
    display: flex;
    min-height: 24px;
    width: 100%;
    justify-content: center;
  }

  .subtitle_position_control {
    position: absolute;
    right: -9px;
    width: 14px;
    padding-top: 3px;
    padding-bottom: 5px;
    background: white;
    user-select: none;
    box-shadow: 0px 1px 6px 0px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #subtitle_text {
    position: absolute;
    display: inline;
    text-align: center;
    color: white;
    background-color: rgba(55, 54, 54, 0.7);
  }
}

.shortcut_inputf23csd {
  min-width: 130px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #f9f9f9;
}

.shortcut_inputf23csd.editable {
  background-color: #fff;
  border-color: #000;
}

.n3452dasd {
  font-size: 14px;
  margin-right: 10px;
}

.text-Anwe4r32 {
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(243, 92, 92, 0.5);
  padding: 0px 7px;
}

.text-B56mdfg {
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(104, 108, 246, 0.5);
  padding: 0px 7px;
}

.langYT45 {
  cursor: pointer;
}

.selected-langYT45 {
  border-color: #0098fd;
}

.window-scroll-list {
  height: 100% !important;
  width: 100% !important;
}
.wavesurfer-region {
  height: 50% !important;
  bottom: 0px !important;
  top: auto !important;
}

.fTcpQP {
  height: 1rem;
  margin-top: 1em;
  position: relative;
  user-select: none;
}

.onrlE98 {
  border-bottom: 1px dotted #dfe0e5;
  padding-bottom: 0.2em;
  width: 100%;
  overflow-wrap: break-word;
}

.JreT39 {
  color: #93a5be;
  font-size: 0.7em;
}

.pWemsd32 {
  border-bottom: 2px solid #dfe0e5;
  padding-bottom: 0.2em;
}

.utewn23l {
  font-size: 0.8em;
}

.time_text_minus {
  background: #f27474;
  color: white;
}

.time_text_plus {
  background: #198754;
  color: white;
}

.hcjCcX {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

.time-lwkj1 {
  color: #5d647b;
  font-size: 14px;
}

.fwQgJA {
  width: 100%;
  height: 0.09375rem;
  background-color: #b1bcce;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.lnhbsn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 300;
  width: 100%;
}

.kBJKpY {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 0.71875rem;
  line-height: 0.75rem;
  letter-spacing: 0.01em;
  font-weight: 500;
  max-height: 2.5rem;
  min-width: unset;
  gap: 0.5rem;
}

.kBJKpY-set {
  box-shadow: inset 4px 4px 9px #d9d9d9, inset -4px -4px 9px #ffffff !important;
}

.eyKKz {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 225, 227);
  transition: border 0.2s ease-in-out 0s;
  color: rgb(24, 25, 27);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  border-radius: 10px;
  height: 48px;
  padding: 0px 16px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
}

.highlight_eykkz {
  color: #2064cb !important;
  border: 1px solid #7ecbfe !important;
  box-shadow: rgba(0, 0, 0, 0.1) !important;
}

.ecshKI {
  .icon_back {
    background-color: white;
  }
  svg {
    background: #2064cb !important;
    color: white !important;
  }
  i {
    background: #2064cb !important;
    color: white !important;
  }
  span {
    color: #2064cb !important;
  }
}

#timeline_tool_box {
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 10px;
  display: flex !important;
  overflow: hidden;
  transition: 0.3s;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  .default_btn {
    font-size: 1.1em;
    width: 2.7em;
    padding-left: 0.85em;
    height: 2.7em;
    box-shadow: 1px 1px 3px 1px #0000007a;
    color: white;
    border-radius: 50%;
    user-select: none;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  }
  .add_btn {
    background-color: #c3b6a3;
  }
  .search_btn {
    background-color: #373737;
  }
  .word_change_btn {
    background-color: #2a2a2a;
  }
  .time_change_btn {
    background-color: #3a3a3a;
  }
  .fix_btn {
    background-color: #555;
  }
  .fix_active {
    color: #ccc !important;
    background-color: #363636 !important;
    box-shadow: #111 inset 3px 3px 2px 0px !important;
  }
  .delete_btn {
    background-color: #dc3545;
    color: white;
  }
  .btnPush {
  }

  .btnPush:active {
    background: #f5f8fb;
    box-shadow: inset 20px 19px 60px #0d1431, inset -20px -20px 60px #ffffff;
  }

  .delete_btn:hover {
    border: 1px solid #dc3545 !important;
  }
  i {
    font-size: 1em;
  }
  .icon {
    position: absolute;
    color: #fff;
    top: 1.5em;
    left: 1.5em;
    transform: translate(-50%, -50%);
  }

  .circle-wrapper {
    position: relative;
    width: 3em;
    height: 3em;
    cursor: pointer;
  }
  .circle:hover {
    background-color: #656565;
  }

  .circle-wrapper:active .circle {
    animation: spin 2s linear infinite;
    background-color: #695636;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .warning {
    background-color: #373636;
    border: 3px dashed #373636;
  }
  .circle {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
  }
}

wave::-webkit-scrollbar {
  height: 12px; /* x축 스크롤바의 높이 */
}

/* 스크롤바의 실제 핸들 부분 */
wave::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* 핸들의 배경 색상 */
  border-radius: 6px; /* 핸들의 모서리 둥글기 */
}

/* 스크롤바의 트랙(핸들이 움직이는 부분) */
wave::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙의 배경 색상 */
}

.eyKKz:hover {
  color: #2064cb;
  border: 1px solid rgb(126, 203, 254);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.fHnLCu {
  display: block;
  max-width: 4.6875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.iaXMRP {
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
  border-radius: 2.9375rem;
  border: 0.09375rem solid #b1bcce;
  padding: 0.125rem 1rem;
  color: #192033bd;
  margin: 0px 0.25rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 300;
}

.iaXMRP:not([disabled]):hover {
  background: rgb(239, 249, 255);
  color: #2064cb;
}

.cZQiOD {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(239, 249, 255);
  color: rgb(0, 152, 253);
  padding: 1rem 1.25rem;
  border-radius: 0.625rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-right: 20px;
}

.hXPNrN {
  padding-right: 0.25rem;
}

.HiZep {
  width: 1rem;
  height: 1rem;
}

.ccsyJx {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 0px;
  background: none;
  cursor: pointer;
  margin-bottom: 1em;
}

.cZQiOD:hover {
  background: rgb(239, 249, 255);
  color: rgb(0, 152, 253);
}

.dLfDET {
  display: flex;
  flex-direction: column;
}

.ilvDrO {
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
  margin-left: 0.5rem;
}

.irIdhQ {
  display: flex;
  position: fixed;
  flex-direction: row;
  z-index: 1;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: rgb(247, 247, 248);
}

#time_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  border-bottom: 1px solid rgb(223, 224, 229);
}

#time_control {
  .flex-item {
    flex: 1 1 33%; /* flex-grow, flex-shrink, flex-basis */
  }
}

#zoom_icon {
  gap: 10px;
  display: flex;
  align-items: center;
}
#zoom_control {
  display: flex;
  gap: 20px;
}

.klnf32l2sdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #5c5e65;
}

.eCbPdQ {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  padding-inline: 0.6875rem;
  padding-block: 0.6875rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 500;
  color: rgb(24, 25, 27);
  background-color: rgb(247, 247, 248);
}

.hsqYAO {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.375rem;
  opacity: 1;
}

.irqVzR {
  position: relative;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 400;
  display: flex;
  line-height: 1.0625rem;
  color: #192033;

  textarea {
    color: #000000ba;
    cursor: auto;
    width: 65%;
    border-radius: 5px;
    padding: 0.5em;
    height: 70px;
    border: 1px solid #0000004f;
    resize: none;
    overflow-y: auto;
  }
  textarea::-webkit-scrollbar {
    width: 5px;
    height: 224px;
    border-radius: 2.5px;
  }

  textarea::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: #97a5bd;
  }
  button {
    cursor: pointer;
  }
}

// wave::-webkit-scrollbar {
//     height: 10px;
//     width: 224px;
//     border-radius: 2.5px;
// }

// wave::-webkit-scrollbar-thumb {
//     border-radius: 2.5px;
//     background-color: #97a5bd;
// }

.public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.irqVzR.is-focused {
  // .on-focus{
  //     background-color: rgb(202, 167, 253) !important;
  // }
  .timebox_dic_editor {
    border: 2px solid #1e90ff;
  }
}

.irqVzR:hover {
  .on-focus {
    background-color: rgb(223, 224, 229);
  }
}

.irqVzR {
  .on-focus {
    width: 2px;
    margin-right: 3px;
    height: auto;
    border-radius: 0.5rem;
  }
}

.bKXKCV {
  position: absolute;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.gLGoUI {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
}

.htxqdP {
  margin-right: 0.75rem;
  display: flex;
  gap: 10px;
}

.DvGLg {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.fscpTh {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(93, 100, 123);
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.ecXuRN {
  background: transparent;
  appearance: none;
  outline: none;
  border: none;
  padding: 0px;
  user-select: none;
  width: 3.0375rem;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  color: rgb(144, 148, 165);

  span {
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    color: rgb(144, 148, 165);
    font-weight: 500;
    padding-left: 0.25rem;
  }
}

.ecXuRN:hover {
  color: #0098fd;
  span {
    color: #0098fd;
  }
}

.fQPguR {
  outline: none;
  border: none;
  padding: 0px 0px 0px 0.125rem;
  max-width: 6.5em;
  text-align: center;
  color: rgb(93, 100, 123);
  background: transparent;
  font-variant-numeric: tabular-nums;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 0.9375rem;
  margin: 0px 1px;
}

.jiWEVR {
  cursor: pointer;
  height: 1rem;
  color: rgb(144, 148, 165);
}

.jiWEVR:hover {
  color: #ee5050;
}

.gOQonF {
  cursor: text;
  white-space: nowrap;
}

.gOQonF {
  cursor: text;
  white-space: nowrap;
}

.cjXGm2sdfW {
  cursor: pointer;
  svg {
    background: #8080807a;
    color: white;
    border-radius: 22px;
    width: 31px;
    height: 31px;
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
  }
  i {
    background: #8080807a;
    color: white;
    border-radius: 22px;
    width: 31px;
    height: 31px;
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
  }
  .icon_back {
    border-radius: 6px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cjXGm2sdfW:hover {
  .icon_back {
    background-color: #fff;
  }
}

.iNhaIq {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background-color: rgb(247, 247, 248);
}

.eVpoqR {
  display: flex;
  flex: 1 1 0%;
  min-height: 300px;
  flex-direction: row;
  place-items: stretch flex-end;
  -webkit-box-align: stretch;
}

.ezyhkC {
  border-top: 1px solid rgb(225, 225, 227);
  background-color: rgb(255, 255, 255);
  z-index: 900;
}

.kyptUo {
  border-right: 1px solid #dfe0e5;
  display: flex;
  -webkit-box-pack: unset;
  justify-content: unset;
  min-width: 620px;
  width: 620px;
  height: 100%;
  background-color: white;
  flex-direction: column;
}

.bMcJTU {
  padding: 0.5em 1em;
  display: flex;
  background-color: white;
  transition: box-shadow 0.2s ease 0s;
  font-size: 1.2em;
  justify-content: space-between;
}

#subtitle_list {
  overflow: hidden auto;
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 0.5em;
  flex-direction: column;
  align-items: center;
}
.window-scroll-list::-webkit-scrollbar {
  width: 10px;
  height: 224px;
  border-radius: 2.5px;
}

.window-scroll-list::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #97a5bd;
}

.jfw498 {
  color: #93a5be;
  font-size: 0.8em;
  margin-left: 6px;
}

.gEGicz {
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f8;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.kcipEN {
  border-right: 1px solid #dfe0e5;
  border-top: 0px;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 80px;
  display: flex;
  overflow: hidden auto;
  padding-top: 16px;
  gap: 20px;
  align-items: center;
}

.gxWfnw {
  flex-direction: column;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: auto;
  display: flex;
  gap: 30px;
  width: 100%;
}

.cjXGm2sdfW {
  padding: 0px 24px 5px 24px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  -webkit-user-drag: none;
  font-weight: 400;
  color: rgb(92, 94, 101);
  user-select: none;

  svg {
    color: #e1e1e3;
  }
}

.hYWqiW {
  margin-top: 0.125rem;
  white-space: nowrap;
  font-size: 0.71875rem;
  line-height: 0.75rem;
  letter-spacing: 0.01em;
  font-weight: 500;
}

.video_info_wrapper {
  gap: 5px;
  display: flex;
  align-items: center;
}

#hd_btns {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: row;
  gap: 8px;

  .jFnLgg {
    padding: 4px 4px 4px 11px;
    border: 1.5px solid transparent;
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 163, 26);
    box-shadow: rgba(255, 163, 25, 0.2) 0px 2px 1px 0px;
    width: 100px;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .jFnLgg:hover {
    background-color: rgb(241, 137, 20);
    box-shadow: none;
    .dJDeTg {
      background-color: rgba(219, 105, 0, 0.6);
    }
  }

  .LuwHI {
    font-size: 0.8125rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 600;
  }

  .dJDeTg {
    box-shadow: rgb(255, 153, 0) 0px -0.78px 0.391304px inset;
    background-color: rgba(232, 120, 16, 0.6) !important;
  }

  .gahmFp {
    border-radius: 30%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 163, 26);

    margin-left: 16px;
  }

  .gLOnDy {
    pointer-events: auto;
    flex-shrink: 0;
    position: relative;
  }

  .dSa-Ddo {
    margin-left: 16px;
  }
}

.fFwJYB {
  background-color: rgb(25, 32, 51);
  color: rgb(255, 255, 255);
  border-color: rgb(25, 32, 51);
  transition: box-shadow 0.2s ease-in-out 0s;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  height: 48px;
  padding: 0px 16px;
  display: flex;
  min-width: 87px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 500;

  svg {
    opacity: 0.5;
  }
  i {
    opacity: 0.5;
  }
}

.fFwJYB:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 6px;

  svg {
    opacity: 1;
  }
  i {
    opacity: 1;
  }
}
